* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #1e1e1e, #3c3c3c);
    font-family: 'Roboto', sans-serif;
    color: #f5f5f5;
}

.main {
    width: 80%;
    max-width: 1000px;
    background: #2c2c2c;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.intro-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.intro {
    flex: 1;
}

.profile {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.profile img {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    border: 6px solid #e2bfd9;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.head {
    background: #674188;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
    width: fit-content;
    margin-bottom: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.details {
    display: flex;
    gap: 15px;
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4a4a4a;
    color: #f5f5f5;
    font-size: 1.5rem;
    text-decoration: none;
    transition: background 0.3s, transform 0.2s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.icon-button:hover {
    background-color: #674188;
    transform: translateY(-5px);
}

p {
    line-height: 1.6;
}

#title {
    font-size: 1.5rem;
}
